@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #15202B;
}

.base-font {
  font-family: source-han-sans-cjk-tc, sans-serif;
  font-weight: 400;
  font-style: normal;
}
